body {
	background-color: #E1315B;
	animation-name: colorChange;
	animation-duration: 15s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

h1 {
	color: #FFEC5C;
	text-align: center;
	font-family: sans-serif;
	font-size: 4.5em;
	font-weight: normal;
	margin-top: 0px;
}

p {
	color: #FFEC5C;
	text-align: center;
	font-family: sans-serif;
	font-size: 1.5em;
	font-weight: normal;
	margin-left: 28%;
	margin-right: 28%;
}

.pronounce {
	font-size: .8em;
	margin-top: -40px;
	line-height: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

.definition {
	font-size: .8em;
	
}

.bottomBar {
	height: auto;
	width: 15%;
}

.screenshot {
	height: auto;
	width: 20%;
}

@keyframes colorChange {
    from {background-color: #990D6B;}
    to {background-color: #016C9B;}
}